.vscode/
.idea/
*.log
*.pth
*.npy
tensorlog/
Tensorlog/
testmodel/
*.pyc
*.pkl
*.tar
*.npz
*.txt
mano/
manopth/
manopth
*.sh
checkpoint/
plot/
manopth/
mano/
*.pyc
*.mp4
*.png
*.jpg
*.npz
*.pkl
*.txt
manopth

